@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/*
  Google Fonts:
    - Poppins
    - Rubik
*/

@import "ngx-toastr/toastr";

/*-----------------------------------*\
  #CSS CUSTOM PROPERTIES (Variables)
\*-----------------------------------*/
:root {
  --primary-color: #ff6b6b;
  --secondary-color: #794afa;
  --secondary-dark-color: #453c5c;

  --white-color: #ffffff;
  --light-bg-color: #f2f3f5;
  --light-text-color: #7c899a;
  --border-color: #e5e8ec;
  --dark-color: #0a021c;

  --font-small: 13px;
  --font-smaller: 11px;

  --fw3: 300;
  --fw5: 500;
  --fw6: 600;
  --fw7: 700;
  --fw8: 800;

  --trans-background-color: background-color 0.3s, color 0.3s;
  --trans-background: background-color 0.3s;
  --trans-color: color 0.3s;
}

/*-----------------------------------*\
  #RESET
    A set of CSS rules that aim to override the default styles provided by web browsers.
\*-----------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font: inherit;
  font-size: 100%;
  text-decoration: none;
  border: 0 none;
  outline: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;

  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html,
body {
  min-height: 100%;
}

body {
  min-height: 100vh;

  font-family: "Rubik", serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;

  color: var(--dark-color);
  background-color: var(--white-color);

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

a {
  color: inherit;
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

svg {
  display: inline-block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

input,
textarea,
select {
  color: inherit;
  letter-spacing: inherit;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 0;
  background-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

strong {
  font-weight: var(--fw8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", serif;
  text-wrap: balance;
}

h1 {
  font-size: calc(1.3em + 1vw);
  font-weight: var(--fw8);
  line-height: 1;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.2em;
  font-weight: var(--fw7);
}

h4 {
  font-size: 1em;
  font-weight: var(--fw6);
}

// ::-webkit-scrollbar {
//   width: 9px;
//   height: 9px;
// }

// ::-webkit-scrollbar-track {
//   background-color: transparent;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: var(--primary-color);

//   border: 3px solid var(--white);
//   -webkit-border-radius: 10px;
//   border-radius: 10px;
// }

::-moz-selection {
  background-color: #b3d4fc;
  color: #000000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #000000;
  text-shadow: none;
}

/*-----------------------------------*\
  #REUSABLE STYLES
\*-----------------------------------*/
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0.938em;
}

.mobile-hide {
  display: none;
}

.column {
  margin-left: -0.938em;
  margin-right: -0.938em;
}

.column .row {
  padding: 0 0.938em;
}

.flexwrap {
  display: flex;
  flex-wrap: wrap;
}

.flexwrap .row {
  width: 100%;
  margin-bottom: 2em;
  flex: 0 0 100%;
}

.flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexitem {
  display: flex;
  align-items: center;
}

.flexcol {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

// Header Styles
header li > a {
  display: flex;
  position: relative;
  line-height: inherit;
  transition: var(--trans-color);
  cursor: pointer;
}

.trigger {
  display: flex;
  font-size: 1.5em;
  padding: 0.25em;
  margin-right: 0.5em;
}

.fly-item {
  position: absolute;
  height: 16px;
  font-size: var(--font-smaller);
  padding: 3px;
  text-align: center;
  line-height: 10px;
  color: var(--white-color);
}

.mega .flexcol {
  flex: 1;
  min-width: 180px;
  padding-right: 2.5em;
  margin-bottom: 1.5em;
  z-index: 1;
}

// Text Styles
.main-text {
  font-size: 1.2em;
  color: var(--light-bg-color);
}

.mini-text {
  font-size: var(--font-smaller);
  color: var(--light-text-color);
}

.view-all {
  font-size: var(--font-small);
  display: flex;
  gap: 1em;
  transition: var(--trans-color);
}

// Link Styles
.main-links a:is(:hover, :focus) {
  color: var(--secondary-color);
}

.second-links a:is(:hover, :focus) {
  color: var(--light-text-color);
}

.logo a {
  position: relative;
  display: flex;
  padding-left: 0.75em;
  margin-right: 2em;

  font-family: "Poppins", serif;
  font-size: 1.75em;
  font-weight: var(--fw8);
}

// Icon Styles
.icon-small,
.icon-large {
  display: flex;
  align-items: center;
  padding: 0 0.25em;
  font-weight: normal;
}

.icon-small {
  font-size: 1.25em;
  margin-left: auto;
}

.icon-large {
  font-size: 1.75em;
  padding: 0 0.75em 0 0;
}

.circle {
  position: absolute;
  top: -15px;
  left: 0;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--light-bg-color);
  z-index: -1;
}

.circle::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  bottom: 5px;
  right: 5px;
  opacity: 0.4;
}

// Button Styles
.primary-button,
.secondary-button,
.light-button {
  font-size: var(--font-small);
  padding: 0.9em 2em;
  height: auto;
  width: fit-content;
  border-radius: 2em;
  transition: var(--trans-background-color);
}

.primary-button {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.primary-button:is(:hover, :focus-visible) {
  background-color: var(--dark-color);
}

.secondary-button {
  background-color: var(--secondary-dark-color);
  color: var(--white-color);
}

.secondary-button:is(:hover, :focus-visible) {
  background-color: var(--light-bg-color);
  color: var(--secondary-dark-color);
}

.light-button {
  background-color: var(--light-bg-color);
}

.light-button:is(:hover, :focus-visible) {
  background-color: var(--secondary-dark-color);
  color: var(--white-color);
}

// Image Styles
.object-cover img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.products .media {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
}

// Form Styles
form {
  position: relative;
}

form.search input {
  line-height: 3.25em;
  padding: 0 7em 0 4.5em;
  border: 0;
  outline: 0;
  width: 100%;
  border-radius: 7px;
  font-size: 0.9em;
  font-weight: var(--fw3);
  background-color: #fff;
}

form.search :where(span, button) {
  position: absolute;
  top: 0;
  padding: 0.55em 1.5em;
  font-size: 1em;
  color: var(--light-text-color);
  height: 100%;
}

form.search button {
  right: 0;
  border: 0;
  outline: 0;
  font-size: 0.875em !important;
  font-weight: var(--fw6);
  color: var(--white-color) !important;
  background-color: var(--primary-color);
  border-radius: 0 7px 7px 0;
  transition: var(--trans-background);
}

form.search button:is(:hover, :focus-visible) {
  background-color: var(--dark-color);
}

#initial-splash {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/
//
//
@media only screen and (min-width: 481px) {
}
//
//
@media only screen and (min-width: 768px) {
}
//
//
@media only screen and (min-width: 992px) {
  .container {
    padding: 0 2em;
  }

  .desktop-hide {
    display: none !important;
  }

  .mobile-hide {
    display: block;
  }
}
