<div class="brands">
  <div class="container">
    <div class="wrapper flexitem">
      <!-- 1 -->
      <div class="item">
        <a><img src="/images/brands/zara.png" alt="brand-zara" /></a>
      </div>
      <!-- 2 -->
      <div class="item">
        <a><img src="/images/brands/samsung.png" alt="brand-samsung" /></a>
      </div>
      <!-- 3 -->
      <div class="item">
        <a><img src="/images/brands/oppo.png" alt="brand-oppo" /></a>
      </div>
      <!-- 4 -->
      <div class="item">
        <a><img src="/images/brands/asus.png" alt="brand-asus" /></a>
      </div>
      <!-- 5 -->
      <div class="item">
        <a><img src="/images/brands/hurley.png" alt="brand-hurley" /></a>
      </div>
      <!-- 6 -->
      <div class="item">
        <a><img src="/images/brands/dng.png" alt="brand-dng" /></a>
      </div>
    </div>
  </div>
</div>
