.shop {
  margin-bottom: 8px;
}

.shop .holder {
  display: flex;
  flex-direction: column;
}

.shop .sidebar,
.shop .section {
  flex: 1 0 100%;
}

li {
  display: flex;
  font-size: 0.9em;
  position: relative;
  line-height: 2;

  margin-bottom: 1em;
}

label .checked {
  width: 16px;
  height: 16px;
  position: relative;
  line-height: 0;
  display: inline-block;
  border: 2px solid var(--secondary-dark-color);
  vertical-align: text-top;
  margin: 0 7px 0 0;
  cursor: pointer;
}

label .checked::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--secondary-dark-color);
  top: 2px;
  left: 2px;
  opacity: 0;
}

input:checked + label .checked::before {
  opacity: 1;
}

li .count {
  margin-left: auto;
  color: var(--light-text-color);
}

.stock {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 0;
  width: 0;
}

hr.new1 {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1em;
}

input[type="range"] {
  appearance: none;
  width: 100%;
}

input[type="range"]:focus {
  outline: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background-color: var(--border-color);
  box-shadow: none;
  border: 0;
}

input[type="range"]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  height: 18px;
  width: 14px;
  background-color: var(--primary-color);
  -webkit-appearance: none;
  margin-top: -7px;
}

.byprice .price-range {
  display: flex;
  justify-content: space-between;
  color: var(--light-text-color);
  margin-top: 0.5em;
}

.breadcrumb {
  font-size: var(--font-small);
  margin-bottom: 2em;
}

.breadcrumb li:not(:last-child)::after {
  content: "/";
  padding: 0 0.35em;
}

.breadcrumb li:last-child {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--light-text-color);
}

.cat-navigation {
  font-size: 0.85em;
  margin: 2em 0;
  justify-content: flex-end;
  gap: 1em;
}

.cat-navigation .item-filter {
  margin-right: auto;
}

.cat-navigation > div {
  position: relative;
}

.cat-navigation .item-filter a {
  align-items: center;
  text-transform: uppercase;
}

.cat-navigation ul {
  display: none;
  position: absolute;
  left: 0;
  min-width: 100%;
  width: max-content;
  z-index: 10;
}

.cat-navigation .label,
.cat-navigation ul li {
  display: flex;
  gap: 0.5em;
  padding: 0.5em 1em;
  transition: var(--trans-color);
}

:where(.item-sorter, .item-options) .label,
.cat-navigation ul {
  color: var(--light-text-color);
  background-color: var(--light-bg-color);
  cursor: pointer;
}

.cat-navigation :where(label, ul li):hover {
  color: var(--dark-color);
}

:where(.item-sorter, .item-options):hover ul {
  display: block;
}

.filter {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 2em;
  max-width: 400px;
  width: 90%;
  background-color: var(--white-color);
  overflow: auto;
  z-index: 1000;
  box-shadow: rgb(0, 0, 0, 0.3) 0 10px 50px;
  visibility: hidden;
  opacity: 0;
}

.filter.active {
  visibility: visible;
  opacity: 1;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
}

.pagination a.active {
  background-color: #4caf50;
  background-color: var(--primary-color);
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.load-more {
  margin: 2em 0 4em;
}

app-shop-item {
  display: contents;
}

@media only screen and (min-width: 992px) {
  .shop .holder {
    flex-direction: row;
  }

  .shop .sidebar {
    flex: 1 0 25%;
  }

  .shop .section {
    flex: 1 0 75%;
  }

  .shop .sidebar .filter {
    padding: 0 1.5em 0 0;
    position: sticky;
    top: 2em;
    box-shadow: none;
    width: 100%;
    z-index: initial;
    visibility: visible;
    opacity: 1;
  }
}
