.shop {
  margin-bottom: 8px;
}

.shop .holder {
  display: flex;
  flex-direction: column;
}

.shop .sidebar,
.shop .section {
  flex: 1 0 100%;
}

// 游린游린游린游린
.filter {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 2em;
  max-width: 400px;
  width: 90%;
  background-color: var(--white-color);
  overflow: auto;
  z-index: 1000;
  box-shadow: rgb(0, 0, 0, 0.3) 0 10px 50px;
  visibility: hidden;
  opacity: 0;
}

.filter.active {
  visibility: visible;
  opacity: 1;
}

// 游린游린游린游린
li {
  display: flex;
  font-size: 0.9em;
  position: relative;
  line-height: 2;

  margin-bottom: 1em;
}

label .checked {
  width: 16px;
  height: 16px;
  position: relative;
  line-height: 0;
  display: inline-block;
  border: 2px solid var(--secondary-dark-color);
  vertical-align: text-top;
  margin: 0 7px 0 0;
  cursor: pointer;
}

label .checked::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--secondary-dark-color);
  top: 2px;
  left: 2px;
  opacity: 0;
}

input:checked + label .checked::before {
  opacity: 1;
}

li .count {
  margin-left: auto;
  color: var(--light-text-color);
}

// 游릱游릱游릱游릱
.stock {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 0;
  width: 0;
}

hr.new1 {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1em;
}

// 游린游린游린游린
input[type="range"] {
  appearance: none;
  width: 100%;
}

input[type="range"]:focus {
  outline: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background-color: var(--border-color);
  box-shadow: none;
  border: 0;
}

input[type="range"]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  height: 18px;
  width: 14px;
  background-color: var(--primary-color);
  -webkit-appearance: none;
  margin-top: -7px;
}

.byprice .price-range {
  display: flex;
  justify-content: space-between;
  color: var(--light-text-color);
  margin-top: 0.5em;
}

@media only screen and (min-width: 992px) {
  .shop .holder {
    flex-direction: row;
  }

  .shop .sidebar {
    flex: 1 0 25%;
  }

  .shop .section {
    flex: 1 0 75%;
    background-color: bisque;
  }

  .shop .sidebar .filter {
    padding: 0 1.5em 0 0;
    position: sticky;
    top: 2em;
    box-shadow: none;
    width: 100%;
    z-index: initial;
    visibility: visible;
    opacity: 1;
  }
}
