<div class="header-top mobile-hide">
  <div class="container">
    <div class="wrapper flexitem">
      <!-- 1 -->
      <div class="left">
        <ul class="flexitem main-links">
          <li><a>Blog</a></li>
          <li><a>Featured Products</a></li>
          <li><a>Wishlist</a></li>
        </ul>
      </div>
      <!-- 2 -->
      <div class="right">
        <ul class="flexitem main-links">
          <li><a>Sign Up</a></li>
          <li><a>My Account</a></li>
          <li><a>Order Tracking</a></li>
          <li>
            <a>
              {{ currentCurrency }}
              <span class="icon-small">
                <i class="ri-arrow-down-s-line"></i>
              </span>
            </a>
            <ul>
              @for(currency of currencies; track $index) {
              <li
                (click)="toggleCurrencies(currency)"
                [class.active]="currency === currentCurrency"
              >
                <a>{{ currency }}</a>
              </li>
              }
            </ul>
          </li>
          <li>
            <a>
              {{ currentLanguage }}
              <span class="icon-small">
                <i class="ri-arrow-down-s-line"></i>
              </span>
            </a>
            <ul>
              @for(language of languages; track $index) {
              <li
                (click)="toggleLanguages(language)"
                [class.active]="language === currentLanguage"
              >
                <a>{{ language }}</a>
              </li>
              }
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
