<div class="header-main mobile-hide">
  <div class="container flexitem">
    <!-- 1 -->
    <div class="left">
      <div class="dpt-cat">
        <!-- 1 -->
        <div class="dpt-head">
          <!-- 1 -->
          <div class="main-text">All Departments</div>
          <!-- 2 -->
          <div class="mini-text mobile-hide">Total 1059 Products</div>
          <!-- 3 -->
          @if(showMenuButton) {
            <a class="dpt-trigger mobile-hide" (click)="onToggleMenu()">
              @if(!menuSwitch) {
                <i class="ri-menu-3-line ri-xl"></i>
              } @if(menuSwitch) {
                <i class="ri-close-line ri-xl"></i>
              }
            </a>
          }
        </div>
        <!-- 2 -->
        <div class="dpt-menu" [class.active]="menuSwitch">
          <ul class="second-links">
            <!-- 1 -->
            <li class="has-child beauty">
              <!-- 1 -->
              <a>
                <div class="icon-large">
                  <i class="ri-bear-smile-line"></i>
                </div>
                Beauty
                <div class="icon-small">
                  <i class="ri-arrow-right-s-line"></i>
                </div>
              </a>
              <!-- 2 -->
              <ul>
                <li><a>Makeup</a></li>
                <li><a>Skin Care</a></li>
                <li><a>Hair Care</a></li>
                <li><a>Fragrance</a></li>
                <li><a>Foot & Hand Care</a></li>
                <li><a>Tools & Accessories</a></li>
                <li><a>Shave & Hair Removal</a></li>
                <li><a>Personal Care</a></li>
              </ul>
            </li>
            <!-- 2 -->
            <li class="has-child electronic">
              <!-- 1 -->
              <a>
                <div class="icon-large">
                  <i class="ri-bluetooth-connect-line"></i>
                </div>
                Electronic
                <div class="icon-small">
                  <i class="ri-arrow-right-s-line"></i>
                </div>
              </a>
              <!-- 2 -->
              <ul>
                <li><a>Camera</a></li>
                <li><a>Cell Phone</a></li>
                <li><a>Computers</a></li>
                <li><a>GPS & Navigation</a></li>
                <li><a>Headphones</a></li>
                <li><a>Home Audio</a></li>
                <li><a>Television</a></li>
                <li><a>Video Projectors</a></li>
                <li><a>Wearable Technology</a></li>
              </ul>
            </li>
            <!-- 3 -->
            <li class="has-child fashion">
              <!-- 1 -->
              <a>
                <div class="icon-large">
                  <i class="ri-t-shirt-air-line"></i>
                </div>
                Women's Fashion
                <div class="icon-small">
                  <i class="ri-arrow-right-s-line"></i>
                </div>
              </a>
              <!-- 2 -->
              <ul>
                <li><a>Clothing</a></li>
                <li><a>Shoes</a></li>
                <li><a>Jewelry</a></li>
                <li><a>Watches</a></li>
                <li><a>Handbags</a></li>
                <li><a>Accessories</a></li>
              </ul>
            </li>
            <!-- 4 -->
            <li class="has-child fashion">
              <a>
                <div class="icon-large"><i class="ri-shirt-line"></i></div>
                Men's Fashion
              </a>
            </li>
            <!-- 5 -->
            <li class="has-child fashion">
              <a>
                <div class="icon-large"><i class="ri-user-5-line"></i></div>
                Girl's Fashion
              </a>
            </li>
            <!-- 6 -->
            <li class="has-child fashion">
              <a>
                <div class="icon-large"><i class="ri-user-6-line"></i></div>
                Boy's Fashion
              </a>
            </li>
            <!-- 7 -->
            <li class="has-child fashion">
              <a>
                <div class="icon-large">
                  <i class="ri-heart-pulse-line"></i>
                </div>
                Health & Household
              </a>
            </li>
            <!-- 8 -->
            <li class="has-child homekit">
              <!-- 1 -->
              <a>
                <div class="icon-large"><i class="ri-home-8-line"></i></div>
                Home & Kitchen
                <div class="icon-small">
                  <i class="ri-arrow-right-s-line"></i>
                </div>
              </a>
              <!-- 2 -->
              <div class="mega">
                <!-- 1 -->
                <div class="flexcol">
                  <!-- 1 -->
                  <div class="row">
                    <h4><a>Kitchen & Dining</a></h4>
                    <ul>
                      <li><a>Kitchen</a></li>
                      <li><a>Dining Room</a></li>
                      <li><a>Pantry</a></li>
                      <li><a>Great Room</a></li>
                      <li><a>Breakfast Nook</a></li>
                    </ul>
                  </div>
                  <!-- 2 -->
                  <div class="row">
                    <h4><a>Living</a></h4>
                    <ul>
                      <li><a>Living Room</a></li>
                      <li><a>Family Room</a></li>
                      <li><a>Sunroom</a></li>
                    </ul>
                  </div>
                </div>
                <!-- 2 -->
                <div class="flexcol">
                  <!-- 1 -->
                  <div class="row">
                    <h4><a>Bed & Bath</a></h4>
                    <ul>
                      <li><a>Bathroom</a></li>
                      <li><a>Powder Room</a></li>
                      <li><a>Bedroom</a></li>
                      <li><a>Storage & Closet </a></li>
                      <li><a>Baby & Kids</a></li>
                    </ul>
                  </div>
                  <!-- 2 -->
                  <div class="row">
                    <h4><a>Utility</a></h4>
                    <ul>
                      <li><a>Laundry</a></li>
                      <li><a>Garage</a></li>
                      <li><a>Mudroom</a></li>
                    </ul>
                  </div>
                </div>
                <!-- 3 -->
                <div class="flexcol">
                  <!-- 1 -->
                  <div class="row">
                    <h4><a>Outdoor</a></h4>
                    <ul>
                      <li><a>Landscape</a></li>
                      <li><a>Patio</a></li>
                      <li><a>Deck</a></li>
                      <li><a>Pool</a></li>
                      <li><a>Backyard</a></li>
                      <li><a>Porch</a></li>
                      <li><a>Exterior</a></li>
                      <li><a>Outdoor Kitchen</a></li>
                      <li><a>Front Yard</a></li>
                      <li><a>Driveway</a></li>
                      <li><a>Poolhouse</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <!-- 9 -->
            <li class="has-child fashion">
              <a>
                <div class="icon-large"><i class="ri-android-line"></i></div>
                Pet Supplies
              </a>
            </li>
            <!-- 10 -->
            <li class="has-child fashion">
              <a>
                <div class="icon-large">
                  <i class="ri-basketball-line"></i>
                </div>
                Sports
              </a>
            </li>
            <!-- 11 -->
            <li class="has-child fashion">
              <a>
                <div class="icon-large">
                  <i class="ri-shield-star-line"></i>
                </div>
                Best Seller
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="right">
      <div class="search-box">
        <form class="search">
          <span class="icon-large">
            <i class="ri-search-line"></i>
          </span>
          <input type="search" placeholder="Search for products" />
          <button type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>
